<div style="padding:20px 20px">
  <h2 class="title">
    {{title}}</h2>
  <div>
    <nav>
      <a routerLink="BuitIn_Source" routerLinkActive="active">内置数据源</a>
      <a routerLink="HttpClient_Source" routerLinkActive="active">Http获取数据源</a>
      <a routerLink="BuiltIn_Edit" routerLinkActive="active">行内置编辑器</a>
      <a routerLink="InCell_Edit" routerLinkActive="active">单元格内置编辑器</a>
      <a routerLink="External_Edit" routerLinkActive="active">弹出编辑器</a>
      <a routerLink="Grid_Card" routerLinkActive="active">左列右卡</a>
      <a routerLink="Detail_Template" routerLinkActive="active">层级结构</a>
      <a routerLink="Custom_Editing" routerLinkActive="active">自定义编辑器</a>
    </nav>
  </div>
  <div style="padding:20px">
    <router-outlet></router-outlet>
  </div>

</div>