<div style="padding:20px 20px">
    <h2 class="title">
      {{title}}</h2>
    <div>
      <nav>
        <a routerLink="TreeViewCheckBoxesComponent" routerLinkActive="active">复选框树</a>
        <a routerLink="TreeViewDemoComponent" routerLinkActive="active">简单树</a>
        <a routerLink="TreeViewFlatDataComponent" routerLinkActive="active">Flat数据源</a>
        <a routerLink="TreeViewHierychyComponent" routerLinkActive="active">Hierychy数据源</a>
       
      </nav>
    </div>
    <div style="padding:20px">
      <router-outlet></router-outlet>
    </div>
  </div>