<div class="declerationClass">

    <h4>编辑：单元格内置编辑器</h4>
    <ol>
        <li>添加单元格编辑器： ng-template, input,添加kendoGridEditTemplate,通过class="k-textbox",结合type="checkbox"/"number";</li>
        <li>数据绑定，[(ngModel)]输入输出;</li>
    </ol>
</div>

<kendo-grid #grid
[data]="view|async"
[height]="533"
[pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
[pageable]="true" [sortable]="true"
(dataStateChange)="onStateChange($event)"
(cellClick)="cellClickHandler($event)"
(cellClose)="cellCloseHandler($event)"
(cancel)="cancelHandler($event)"
(save)="saveHandler($event)"
(remove)="removeHandler($event)"
(add)="addHandler($event)"
[navigable]="true"
>
<ng-template kendoGridToolbarTemplate>
  <button kendoGridAddCommand>Add new</button>
  <button class='k-button' [disabled]="!editService.hasChanges()" (click)="saveChanges(grid);">Save Changes</button>
  <button class='k-button' [disabled]="!editService.hasChanges()" (click)="cancelChanges(grid);">Cancel Changes</button>
</ng-template>
<kendo-grid-column field="ProductName" title="Product Name"><ng-template><p>显示测试</p></ng-template></kendo-grid-column>
<kendo-grid-column field="UnitPrice" editor="numeric" title="Price"></kendo-grid-column>
<kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued"></kendo-grid-column>
<kendo-grid-column field="UnitsInStock" editor="numeric" title="Units In Stock"></kendo-grid-column>
<kendo-grid-command-column title="command" width="220">
  <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand>Add</button>
      <button kendoGridCancelCommand>Cancel</button>
  </ng-template>
</kendo-grid-command-column>
</kendo-grid>