<div style="padding:20px 20px">
  <h1 class="title">
    {{title}}</h1>
  <div>
    <nav>
      <a routerLink="Grid" routerLinkActive="active">Grid</a>
      <a routerLink="Tree" routerLinkActive="active">Tree</a>
      <a routerLink="LayOut" routerLinkActive="active">LayOut</a>
      <a routerLink="DropDown" routerLinkActive="active">DropDown</a>
      <a routerLink="DODesigner" routerLinkActive="active">数据对象</a>
      <a routerLink="dasSample" routerLinkActive="active">DAS测试</a>
    </nav>
  </div>
  <div style="padding:20px">
    <router-outlet></router-outlet>
  </div>

</div>