<form class="k-form">
  <fieldset>
    <legend>User Details</legend>

    <label class="k-form-field">
      <span>First Name</span>
      <input class="k-textbox" placeholder="Your Name" />
    </label>
    <label class="k-form-field">
      <span>Last Name</span>
      <input class="k-textbox" placeholder="Your Last Name" />
    </label>
  </fieldset>

  <div class="text-right">
    <button type="button" class="k-button" (click)="close()">Cancel</button>
    <button type="button" class="k-button k-primary" (click)="submit()">Submit</button>
  </div>
</form>