<!-- <kendo-grid #grid
[data]="view | async"
[height]="533"
[pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
[pageable]="true" [sortable]="true"
(dataStateChange)="onStateChange($event)"
(cellClick)="cellClickHandler($event)"
(cellClose)="cellCloseHandler($event)"
(cancel)="cancelHandler($event)"
(save)="saveHandler($event)"
(remove)="removeHandler($event)"
(add)="addHandler($event)"
[navigable]="true"
>
<ng-template kendoGridToolbarTemplate>
  <button kendoGridAddCommand>新增</button>
  <button class='k-button' [disabled]="!editService.hasChanges()" (click)="saveChanges(grid);">保存</button>
  <button class='k-button' [disabled]="!editService.hasChanges()" (click)="cancelChanges(grid);">取消</button>
</ng-template>
<kendo-grid-column field="ProductName" title="Product Name"><ng-template><p>显示测试</p></ng-template></kendo-grid-column>
<kendo-grid-column field="UnitPrice" editor="numeric" title="Price"></kendo-grid-column>
<kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued"></kendo-grid-column>
<kendo-grid-column field="UnitsInStock" editor="numeric" title="Units In Stock"></kendo-grid-column>
<kendo-grid-column field="DogID" title="DogName" width="150">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{dog(dataItem.DogID)?.DogName}}
  </ng-template>
  <ng-template kendoGridEditTemplate
    let-dataItem="dataItem"
    let-column="column"
    let-formGroup="formGroup">
    <kendo-dropdownlist
      #dogEditor="popupAnchor"
      popupAnchor
      [defaultItem]="{DogID: null, DogName: 'Test null item'}"
      [data]="dogs"
      textField="DogName"
      valueField="DogID"
      [valuePrimitive]="true"
      [formControl]="formGroup.get('DogID')"
    >
    </kendo-dropdownlist>
    <kendo-popup
        [anchor]="dogEditor.element"
        *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
       >
        <span class="k-icon k-i-warning"></span>
        Category is required
      </kendo-popup>
  </ng-template>
</kendo-grid-column>
<kendo-grid-command-column title="command" width="220">
  <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand>Add</button>
      <button kendoGridCancelCommand>Cancel</button>
  </ng-template>
</kendo-grid-command-column>
</kendo-grid> -->